:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(30,30,30);
}